<link rel="stylesheet" href="/css/article.css">
<div class="container m-5 p-5">
  <div id="title" class="border-bottom border-white">
    <h1 class="display-1 px-4">
      Title:<%= article.title %>
    </h1>


  </div>
  <div class="row">
    <h6 class="display-6 px-5 col-sm-10">
      Description:<%= article.description%>
    </h6>
    <div style="float: right;" class="col-sm-2 px-5">
      By:<%= article.user.name %>
    </div>
  </div>

  <!-- main content -->
  <div>
    <div class="m-5 p-5 border border-white">
      <%= article.content %>
    </div>

  </div>


  <!-- comments -->
  <div>
    <h6 class="display-6 px-5">Comments</h6>

    <!-- form -->
    <% if(locals.user){ %>

      <form action="/comment/create-comment" method="POST">
        
        <div class="mb-3 row">
         
          <div class="col-sm-4">
            <input type="text" class="form-control" id="staticEmail" name="content" placeholder="Type Here">
          </div>
        </div>
        
        <input type="text" name="article" value="<%= article._id %>" hidden class="">
        <input type="submit" value="Add Comment" class="btn btn-success">

      </form>

      <%} %>

        <div class="row">

          <% for(comment of article.comments){ %>

            <div class="card  m-3 col-sm-5 row text-black">

              <div class="card-body ">
                <% if(locals.user && locals.user.id==comment.user._id){ %>
                  <span style="float: right">
                    <a href="/comment/destroy-comment/<%= comment._id %>" style="color:red"><i
                        class="far fa-trash-alt"></i></a>
                  </span>


                  <% } %>
                    <h5 class="card-title">
                      <%= comment.content %>
                    </h5>
                    <p class="card-text">
                      By <%= comment.user.name%>
                    </p>
                    
              </div>


            </div>


            <% } %>


        </div>

  </div>

</div>